{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}


{########################################## VARIABLES ##########################################}
{% set seed = random() %}

{# FRONT FADE #}
{% if content.field_front_bottom_fade == 'Yes' or content.field_front_bottom_fade == true or content.field_front_bottom_fade == 1 %}
{% set frontFadeClass = 'photo-front-shadow-topbottom' %}
{% else %}
{% set frontFadeClass = 'photo-front-shadow-top' %}
{% endif %}

{# FRONT SUBTITLE ALIGNMENT #}
{% if content.field_front_subtitle_alignment %}
{% set frontSubtitleAlignment = content.field_front_subtitle_alignment['#items'].getString() %}
{% else %}
{% set frontSubtitleAlignment = 'right' %}
{% endif %}

{# FRONT IMAGE #}
{% set frontImage = file_url(content.field_front_image|field_target_entity.uri.value) %}
    
{# CARD TYPE #}
{% if content.field_card_type['#items'].getString() == 'event_exhibit' %}
{% set cardType = 'event_exhibit' %}

{% elseif content.field_card_type['#items'].getString() == 'call_to_action' %}
{% set cardType = 'call_to_action' %}

{% elseif content.field_card_type['#items'].getString() == 'call_to_action_2' %}
{% set cardType = 'call_to_action_2' %}

{% elseif content.field_card_type['#items'].getString() == 'survey' %}
{% set cardType = 'survey' %}

{% else %}
{% set cardType = 'unknown' %}
{% endif %}

   <div class="col-md-6">
    <div class="box-item box" id="card_{{ node.id }}_{{ seed }}">
        {# FRONT #}
        <figure alt="{{ content.field_front_title.0 }}" class="front photo-front {{ frontFadeClass }}" style="background-image:url('{{ frontImage }}'); background-position: {{ content.field_front_image_alignment.0 }};">
            <div class="front-content">
                <h3 class="box-header">{{ content.field_front_title.0 }}</h3>
                <strong class="box-date box-date-right">{{ content.field_front_subtitle.0 }}</strong>
            </div>
        </figure> {# /FRONT #}
        {# BACK #}
        <figure class="back">
            <div class="back-content">
            {# BREAK - CARD TYPES #}
            
            {% if cardType == 'event_exhibit' %}
                
                <strong class="box-header">{{ content.field_back_heading.0 }}</strong>
                <h3 class="left plain-case mallory-thin exhibit-heading" id="exhibit1_alt_heading_back">Gallery Talks</h3>
                <h5 class="left plain-case mallory-mp-light exhibit-subheading" id="exhibit1_alt_subheading_back">Once a month, Thursdays at 4 pm</h5>
                <hr />
                <p>Join us this fall for a special series of gallery talks! Yale Peabody Museum curators and collections managers will feature a few remarkable objects from our collections in a 20-minute presentation, followed by Q&amp;A.</p>
                <p class="button-row"><a data-link-parent="card_event1_alt" class="btn btn-peabody back-link" href="http://peabody.yale.edu/events/yale-peabody-museum-gallery-talks" role="button" title="More info: Gallery Talks" aria-label="More info: Gallery Talks">More Info</a></p>
                
            {% elseif cardType == 'call_to_action' %}
                
                
                
            {% elseif cardType == 'call_to_action_2' %}
                
                
                
            {% elseif cardType == 'survey' %}
                
                
                
            {% endif %}
            {# /BREAK - CARD TYPES #}
            </div>
        </figure> {# /BACK #}
        
    </div>
</div>
    


{#
<div class="col-md-6">
    <div class="box-item box" id="card_event1_alt">
        <figure class="front photo-front photo-front-shadow-topbottom" style="background-image:url('img/cards/events_exhibitions/gallery_talk_web_card_mini.jpg'); background-position: left;">
            <div class="front-content">
                <h2 class="box-header">Gallery Talks</h2>
                <h5 class="box-date box-date-right">NEXT: March 22, 2018</h5>
            </div>
        </figure>
        <figure class="back">
            <div class="back-content">
                <h5 class="box-header"><strong>Spring 2018 Semester Series</strong></h5>
                <h3 class="left plain-case mallory-thin exhibit-heading" id="exhibit1_alt_heading_back">Gallery Talks</h3>
                <h5 class="left plain-case mallory-mp-light exhibit-subheading" id="exhibit1_alt_subheading_back">Once a month, Thursdays at 4 pm</h5>
                <hr />
                <p>Join us this fall for a special series of gallery talks! Yale Peabody Museum curators and collections managers will feature a few remarkable objects from our collections in a 20-minute presentation, followed by Q&amp;A.</p>
                <p class="button-row"><a data-link-parent="card_event1_alt" class="btn btn-peabody back-link" href="http://peabody.yale.edu/events/yale-peabody-museum-gallery-talks" role="button" title="More info: Gallery Talks" aria-label="More info: Gallery Talks">More Info</a></p>
            </div>
        </figure>
    </div>
</div>
#}